@model Camp
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.Image" class="rounded img-fluid"/>
                </div>
                <!--end of col-->
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.CampName</h1>
                        <h2 class="lead mb-3">@Model.Address.City, @Model.Address.Government</h2>
                        <div>
                            <!--=====================-->
                            <span class="badge badge-secondary mr-3">@Model.CampCategory</span>
                        </div>

                        <!--
                        <a asp-controller="camp" asp-action="Edit" asp-route-id="@Model.CampID" type="button" class="btn btn-sm btn-outline-secondary">Book</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="nav-link" asp-controller="Booking" asp-action="Index">Bookings</a>
                        -->
                        <h2 class="lead mb-3">@Model.CampID</h2>
                        <a  asp-controller="Booking" asp-action="Book" asp-route-campId="@Model.CampID" class="btn btn-primary mt-3">Book</a>
                    </div>                   
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </section>
</div>
<!--end of container-->
<!--end of section-->
<section class="space-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-8 col-lg-7">
                <h5 class="mb-4">Adventure Overview</h5>
                <article>
                    @Model.Description
                </article>
                <hr>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-text-document mr-1"></i> Available Start Date</div>
                                <span>@Model.AvailabilityStartDate</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-edit mr-1"></i> Available End Data</div>
                                <span>@Model.AvailabilityEndDate</span>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>