@model Booking
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h2>Booking Details</h2>
    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Booking ID</dt>
                <dd class="col-sm-9">@Model.BookingId</dd>

                <dt class="col-sm-3">User ID</dt>
                <dd class="col-sm-9">@Model.UserID</dd>

                <dt class="col-sm-3">Camp ID</dt>
                <dd class="col-sm-9">@Model.CampID</dd>

                <dt class="col-sm-3">User Name</dt>
                <dd class="col-sm-9">@Model.User.UserName</dd>

                <dt class="col-sm-3">Camp Name</dt>
                <dd class="col-sm-9">@Model.camp.CampName<dd>

                <dt class="col-sm-3">Camp Category</dt>
                <dd class="col-sm-9">@Model.camp.CampCategory</dd>

                <dt class="col-sm-3">Start Date</dt>
                <dd class="col-sm-9">@Model.StartDate.ToString("yyyy-MM-dd")</dd>

                <dt class="col-sm-3">End Date</dt>
                <dd class="col-sm-9">@Model.EndDate.ToString("yyyy-MM-dd")</dd>

                <dt class="col-sm-3">Total Amount</dt>
                <dd class="col-sm-9">@Model.TotalAmount.ToString("C")</dd>

                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">@Model.Status</dd>
            </dl>
        </div>
    </div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
</div>

